<%- include("header") -%>

<div class="middle-container">
  <div class="profile" id="about-me">
    <img src="./images/my-img.png" alt="my img" id="my-img" />
    <h2>Hello.</h2>
    <p class="intro">
      Front-end developer and Computer Science student at Lebanese International
      University graduating in April 2024.
    </p>
  </div>
  <hr />
  <div class="hobbies" id="my-hobbies">
    <h2>My Hobbies.</h2>
    <div class="hobby-row-1">
      <div class="row">
        <div class="col-lg-4 hobby-img">
          <img
            class="computer-img"
            src="./images/computer.png"
            alt="computer-img"
          />
        </div>
        <div class="col-lg-8 hobby-info">
          <h3 class="hobby-title">Design and Web developer</h3>
          <p>
            Started learning code in 2018. And because of my curiosity and
            consistency, I have gained a lot of knowledge and skills in web apps
            and designing it.
          </p>
        </div>
      </div>
    </div>
    <div class="hobby-row-2">
      <div class="row">
        <div class="col-lg-8 hobby-info">
          <h3 class="hobby-title">Basketballer</h3>
          <p>
            One of the things I am passioned about is basketball. Since I was a
            kid I loved this sport and my height helped me to play it as well 😃
          </p>
        </div>
        <div class="col-lg-4 hobby-img">
          <img
            class="basketball-img"
            src="./images/basketball.png"
            alt="basketball-img"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
