<%- include("header") -%>

<div class="top-container">
  <body class="text-center">
    <div class="row top-width">
      <div class="col-lg-4">
        <img src="images/cloud.png" class="top-cloud" alt="cloud-img" />
      </div>

      <div class="col-lg-4">
        <h1>I'm Gilbert</h1>
        <h2 class="what-i-am">a frontend developer</h2>
        <img src="images/mountain.png" alt="mountain-img" id="mount-img" />
      </div>
    </div>
  </body>
</div>

<%- include("footer") -%>
