<%- include("header") -%>

<div class="tech-skills" id="skills">
  <h2>Technical Skills</h2>
  <div class="row">
    <div class="col-lg-4">
      <img src="./images/javascript.png" alt="javascript image" />
    </div>
    <div class="col-lg-4">
      <img src="./images/html.png" alt="html image" />
    </div>
    <div class="col-lg-4">
      <img src="./images/css.png" alt="css image" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <img src="./images/react.png" alt="react image" />
    </div>
    <div class="col-lg-6">
      <img src="./images/jquery.png" alt="jquery image" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src="./images/bootstrap.png" alt="bootstrap image" />
    </div>
    <div class="col-lg-4">
      <img src="./images/git.png" alt="git image" />
    </div>
    <div class="col-lg-4">
      <img src="./images/github.png" alt="github image" />
    </div>
  </div>
</div>
<hr />
<div class="row justify-content-around project-pos" id="projs">
  <h2>Projects</h2>
  <div class="project-div col-lg-4">
    <a
      href="https://gilberts17.github.io/TinDog/"
      target="_blank"
      class="project-a"
    >
      <img class="project-image" src="/images/tindog-ss.png" alt="tindog img" />
      <p class="project-title">
        <span class="code">&lt;</span>Tindog Page<span class="code"
          >&#47;&gt;</span
        >
      </p>
    </a>
  </div>
  <div class="project-div col-lg-4">
    <a
      href="https://gilberts17.github.io/The-Simon-game/"
      target="_blank"
      class="project-a"
    >
      <img
        class="project-image"
        src="/images/simon-ss.png"
        alt="Simon Game img"
      />
      <p class="project-title">
        <span class="code">&lt;</span>Simon Game<span class="code"
          >&#47;&gt;</span
        >
      </p>
    </a>
  </div>
  <div class="project-div col-lg-4">
    <a
      href="https://gilberts17.github.io/Blackjack-Game/"
      target="_blank"
      class="project-a"
    >
      <img
        class="project-image"
        src="/images/blackjack-ss.png"
        alt="Blackjack Game img"
      />
      <p class="project-title">
        <span class="code">&lt;</span>Blackjack Game<span class="code"
          >&#47;&gt;</span
        >
      </p>
    </a>
  </div>
</div>

<%- include("footer") -%>
